<section>
    <div class="container1 mt-5">
        <div class="container-image">
            <img src="../../assets/png/logo2.png" alt="" width="50%"  data-aos="fade-right">
        </div>
        <div class="container-content" data-aos="fade-left">
            <h1 class="text-shadow-lg">ORPHAN SAFE</h1>
            <p> Welcome to OrphanSafe, a compassionate and dedicated organization committed to transforming the lives of orphaned children.We have been tirelessly working to provide a nurturing and supportive environment for children who have lost their parents or have been abandoned.</p>
            <a href=""></a>
        </div>
    </div>
</section>

