  <div class="container mt-4 pt-4">
      <!-- <h1 class="text-center">OrphanSafe</h1> -->
      <div class="row mt-4">
          <div class="col-lg-4">
              <img src="../../assets/png/logo2.png" class= "imageAboutPage" alt="" style="width: 100%;">
          </div>

          <div class="col-lg-8">
            <h1 class="text-center">ORPHANSAFE</h1><br>
              <p> Welcome to OrphanSafe, a compassionate and dedicated organization committed to transforming the lives of orphaned children.We have been tirelessly working to provide a nurturing and supportive environment for children who have lost their parents or have been abandoned.
                Welcome to OrphanSafe, a compassionate and dedicated organization committed to transforming the lives of orphaned children.We have been tirelessly working to provide a nurturing and supportive environment for children who have lost their parents or have been abandoned.
                Welcome to OrphanSafe, a compassionate and dedicated organization committed to transforming the lives of orphaned children.We have been tirelessly working to provide a nurturing and supportive environment for children who have lost their parents or have been abandoned.
              </p>
              
        </div>
    </div>

