 <!-- <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh;">
<div class="mb-4 section">
    <div class="col-mb-8">
        
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            
                <h1>Get In Touch With Us</h1>
    
                <div class="col-md-8">
                        <div class="md-form mb-2">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="md-form mb-2">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                
                <div class="row">
                    <div class="col-md-8">
                        <div class="md-form mb-2">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">

                        <div class="md-form mb-2">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
            

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        
        <div  class="div1"> 
            <div class="div2">
                <h4>feel free to ask anything</h4>
                <img src="../assets/png/location.png" alt="">
                <p>Rajanagaram,Rajahmundry 531085</p>
                
            </div>
            <div class="div2">
                <img src="../assets/png/phone.png" alt="">
                <p>+91 9876543210 <br>
                +91 8752425564
                </p>
            </div>
            <div class="div2">
                <img src="./assets/images/emial.png" alt="">
                <p>orphansafe@gmail.com</p>
            </div>

        </div>
    
</div>
</div>
</div>
</div>  -->
<div class="container mt-4 pt-4" style=>
    <!-- <h1 class="text-center">OrphanSafe</h1> -->
    <div class="row mt-4" >
        <div class="col-lg-4">

            <div  class="div1" > 
                <div class="div2">
                    <h4 style="font-size:6vh ; color:rgb(3, 136, 61)">Feel Free To Ask Anything</h4>
                    <img src="../assets/png/location.png" style="max-width: 70px;" alt="">
                    <p>Rajanagaram,Rajahmundry 531085</p>
                    
                </div>
                <div class="div2">
                    <img src="../assets/png/phone.png" style="max-width: 80px;" alt="">
                    <p>+91 9876543210 <br>
                    +91 8752425564
                    </p>
                </div>
                <div class="div2">
                    <img src="./assets/images/emial.png" alt="" style="max-width: 70px;">
                    <p>orphansafe@gmail.com</p>
                </div>
    
            </div>
            
        </div>

        <div class="col-lg-8" style="background-color: darkcyan;">
            <div class="col-md-9 mb-md-0 mb-5 mt-5">
            
                <h2 style="color: brown; ">Get In Touch With Us</h2>
    
                <div class="col-md-10">
                        <div class="md-form mb-2">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="md-form mb-2">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                
                <div class="row">
                    <div class="col-md-10">
                        <div class="md-form mb-2">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">

                        <div class="md-form mb-2">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
            

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
      </div>
  </div>
