<app-navbar></app-navbar>
<section class="md-8">
    <div class="banner">
        <form action="/action_page.php" class="container" >
            <h1>Our mission</h1>
            <h2>In our society those who are shelter-less people, orphans .An  organization that will be connecting  shelter-less  people and charity with each other  our  people  will reach out the shelte-rless and provide shelter to them we will be connecting to adaptors</h2>
        </form>
       <h3>About US </h3> 
      <h4> We help Orphans have a Happy and Healthy life</h4>
      
    </div>
    
</section>
    


    
   

        
     

    
